#wrapper {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -100px; /* the bottom margin is the negative value of the footer's total height */
    background-color: #c3c3c3;
    border-radius: 25px;
}
  
#wrapper:after {
  content: "";
  display: block;
  height: 100px; /* the footer's total height */
}

.header {
  padding: 30px;
  text-align: center;
  background-color: #7f7f7f;
  font-size: 35px;
  color: rgb(255, 255, 255);
  border-radius: 25px 25px 0px 0px;
  border-bottom: #000000;
  border-width: 3px;
}

.column_left {   
  float: left;
  width: 33%;
  padding: 20px;
}

.column_right {
  float: right;
  width: 67%;
  padding: 20px;
}
.row{
  background-color: #c3c3c3;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 10px;
  text-align: center;
  background: rgb(0, 0, 0);
  border-radius: 0px 0px 25px 25px;
  color: rgb(255, 255, 255);
  height: 100px;
}

#footer-content {
  height: 70px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.card_picture {
  background-color: rgb(201, 93, 93);
  padding: 20px;
  margin-top: 20px;
  display: grid;
}

.card_links {
  border-color: #ad8848;
  border-style: solid;
  border-width: 3px;
  background-color: #6b6b6b;
  padding: 20px;
  margin-top: 20px;
  display: grid;
}

.card_logo {
  padding: 10px;
  background-color: #000000;
  border-color: #ad8848;
  border-style: solid;
  border-width: 3px;
  margin-top: 10px;
  width: 100%;
  display: grid;
}

.card_text {
  background-color: rgb(146, 67, 67);
  padding: 20px;
  margin-top: 20px;
  display: grid;
}

.card_right {
  background-color: rgb(146, 67, 67);
  padding: 20px;
  margin-top: 20px;
  display: grid;
}

.card_footer {
  background-color: #6b6b6b;
  border-color: #ad8848;
  border-style: solid;
  border-width: 3px;
  padding: 20px;
  margin-top: 20px;
  display: grid;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/* Dropdown Button */
.dropbtn {
  position: relative;
  background-color: #000000;
  color: #ad8848;
  padding: 16px;
  font-size: 17px;
  border: none;
  width: 150px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  width: 150px;
  font-size: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ad8848;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.eventbook_knop{
  background-color: #000000;
  color: #ad8848;
  padding: 16px;
  font-size: 17px;
  width: 150px;
  border: none;
  cursor: pointer;
}

.Contact{
  background-color: #000000;
  color: #ad8848;
  padding: 16px;
  font-size: 17px;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  color: #ad8848;
}

.btn-group button {
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.container{
  max-width: 950px;
  width: 300%;
  overflow: hidden;
  padding: 80px 0;
  margin: auto;
}
.container .main-card{
  display: flex;
  justify-content: space-evenly;
  width: 300%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}

#three:checked ~ .main-card{
  margin-left: -200%;
}

.container .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 4 - 10px);
  background: #6b6b6b;
  border-color: #ad8848;
  border-style: solid;
  border-width: 3px;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  max-height: 50%;
  width: 100%;
  padding: 3px;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
  color: #ad8848;
}
.card .content .job{
  font-size: 20px;
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;

}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 150px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 10%;
  border: 2px solid transparent;
  background: #ad8848;
  transition: all 0.3s ease;
  text-decoration: none;
}
.media-icons a:hover{
  color: #ad8848;
  background-color: #fff;
  border-color: #ad8848;
  text-decoration: none;
}
 .container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #6b6b6b;
  border-color: #ad8848;
  border-style: solid;
  border-width: 2px;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two {
  width: 15px;
}
#one:checked ~ .button .three {
  width: 15px;
}
#two:checked ~ .button .one {
  width: 15px;
}
#two:checked ~ .button .three {
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
#three:checked ~ .button .one {
  width: 15px;
}
#three:checked ~ .button .two {
  width: 15px;
}
#three:checked ~ .button .three{
  width: 35px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}
.midden{
  background-color: #c3c3c3;
}

.circle1{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #6b6b6b;
  border-color: #ad8848;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin: 50px 0;
  line-height: 200px;
  margin-left: calc(50% - 500px);
  transition: transform 0.5s, opacity 0.5s;
  color: #ad8848;
  font-weight: bold;
}
.circle2{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #6b6b6b;
  border-color: #ad8848;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin: 50px 0;
  line-height: 200px;
  margin-left: calc(50% + 100px);
  transition: transform 0.5s, opacity 0.5s;
  color: #ad8848;
  font-weight: bold;
}

.circle1.left{
  transform: translateX(-200px);
  opacity: 0;
}

.circle2.right{
  transform: translateX(200px);
  opacity: 0;
}

.circle1.active{
  transform: translateX(0);
  opacity: 1;
}

.circle2.active{
  transform: translateX(0);
  opacity: 1;
}

.onder{
  background-color: #c3c3c3;
}
